:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #092934;
  color: #c2dce4;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

main {
  height: 100%;
}

/* 
https://huemint.com/website-1/#palette=092934-c2dce4-de2d2f */